footer{
    margin-top: 8.75rem;
    text-transform: uppercase;
    font-family: var(--font-text);
    letter-spacing: 1.5px;
    font-size: 13px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: url("/Assets/Backgrounds/footerBackgroundMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    @media(min-width:600px){
        background-image: url("/Assets/Backgrounds/footerBackgroundDesktop.png");
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        .insure-media{
            @media(min-width:600px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            picture{
                margin-top: 5.5rem;
                display: flex;
                justify-content: center;
                @media(min-width:600px){
                    margin-top: 0;
                }
            }

            
            .media-layout{
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                gap: 1rem;
                @media(min-width:600px){
                    margin-top: 0;
                }
    
                path{
                    fill:#837D88;
                }
                a:hover path{
                    fill: var(--darker);
                }
            }
        }


        .separator{
            height: 1px;
            background-color: #DADADA;
            margin-top: 2.5rem;
        }

        .footer-part-layout{
            font-weight: 700;
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.25rem;
            @media(min-width:600px){
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }

            .footer-part{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2.25rem;
                @media(min-width:600px){
                    align-items: flex-start;
                }

                > h2{
                    font-size: 13px;
                    color: #837D88;
                }

                ul{
                    list-style: none;
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media(min-width:600px){
                        gap: 1rem;
                        align-items: flex-start;
                    }
                    a{
                        position: relative;
                        text-decoration: none;
                        color: var(--dark);

                        &:hover{
                            &::after{
                                position: absolute;
                                content: "";
                                bottom: 0;
                                left: 0;
                                height: 1px;
                                background-color: var(--darker);
                                animation: underlineApparition 0.1s linear forwards;
                            }
                        }
                    }
                }
            }
        }

    }
}